{% assign view = 2 %}
<div class="layout layout--row gap--medium">
  {% for card in cards limit:2 %}
    {% render "main", trmnl: trmnl, card: card, view: view %}
  {% endfor %}
</div>
{% render "title_bar", trmnl: trmnl %}
